:root{
	--font-color1: #FCF8E8;
	--font-color2: #FB4243;
}
	* {
	
	font-family: PoplarStd;
	color: var(--font-color1);
	scroll-behavior: smooth;
}

@font-face {
font-family: PoplarStd;
src: url('PoplarStd.otf');
}

body {
	
	background-image: url("Resources/Band01.jpg");
	background-attachment: fixed; 
	margin: 0;
	}

/* Header & NAV */

header {
	display: block;
	background-color: #000000;
}


nav {
	display: flex;
	justify-content: space-between;
	width: 55vw;
	Opacity: 100%;
			
}

nav > ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style-type: none;
  font-size: 30px;
  width: 25vw;
  padding-right: 2vw;
}
	
nav > ul > li:hover {
  color: var(--font-color2);
  cursor: pointer;
}

li > a {
	color: inherit;
	text-decoration: none;
}
	
.logo1 {
height: 150px;
width: 150px;	
}

main {
	margin: 0 22vw 0;
	background-color: #000000;
	opacity: 99%;

	
}

/* Album info section */

.album-info {
	text-align: center;
	font-size: 28px;
	
	
}

.red {
	color: var(--font-color2);
}

.album-info img {
	display: block;
	margin: auto;
	padding-bottom: 5px;
	height: 600px;
	width: 609px;
}

 p > a > span:hover {
	color: var(--font-color1);
  cursor: pointer;
}

p > a {
	color: inherit;
	text-decoration: none;		
}
	
section {
	height: 100vh;
	
	
}
/* Section headers */	

#media, #events, #contact {
color: #FB4243;
font-size: 50px;
padding-top: 150px;
text-align: center;

} 

/* Media section*/	
	
.video-div {
	display: block;
	margin: auto;
	background-image: url("Resources/TV.jpg");
	background-size: 625px 575px;	
	background-repeat: no-repeat;
	background-position: center;
	height: 575px;
	width: 700px;
	
}


.video1 {
	position: relative;
	top: 90px;
	left: 143px;
	width: 325px;
	height: 284px;
	
}




#controls {
	display: flex;
	justify-content: space-evenly;
	width: 80%;
	margin: auto;
	padding-top: 2%;
}

#button1, #button2, #button3 {
	width: 125px;
	height: 40px;
	background-color: #1b1a1a;
	color: var(--font-color2);
	font-size: 18px;
	border: 5px solid #282727;
	padding-top: 5px;
	border-radius: 25px;
}

#button1:hover, #button2:hover, #button3:hover {
	cursor: pointer;
	border: 5px solid #0a0a0a;
	background-color: #0c0c0c;
	transform: scale(0.9);
}

/* Events Section */

table {
	display: block;
	margin: auto;
	text-align: center;
	margin-top: 5%;
	word-wrap: break-word;
	border-collapse: collapse;
}

td > a {
	text-decoration: none;
}

td > a:hover {
cursor: pointer;
color: var(--font-color2);	
}

.ticket:hover {
	color: var(--font-color2);
}

 th, td {
	padding: 20px 40px;
	border-right: 2px solid grey;	
}

th, td:last-of-type{
	border-right: none;
}




  /* Contact Section */

.links {
    display: flex;
    justify-content: space-evenly;
	padding-top: 5%;
  }
  
 .icon:hover {
    	animation: iconrotate 0.5s ease-in infinite;
		color: var(--font-color2);
 }
 
 .subscribe {
	 width: 60%;
	 margin: auto;
	 display: block;
	font-size: 28px;
	text-align: center;
	padding-top: 10%;
 }
 
 form {
	 display: flex;
	 align-items: center;
	 flex-direction: column;
	 margin: auto;
	 width: 60%;
	 
 }	
 
 label {
	 font-size: 28px;
	 padding: 10px 0px;
 }
 
 
 
 input {
	 height: 30px;
	 width: 250px;
	 color: var(--font-color1);
	 font-size: 25px;
	 border: 5px solid var(--font-color2);
	 background-color: black;
	 text-align: center;
	 padding-top: 5px;
	 border-radius: 25px;
	 
 }
 
.mailing-list {
	padding: 10px 0px; /*amends padding between inputs*/
}

#button3 {
	margin-top: 15px
}
 

 @keyframes iconrotate {
	0% {
		transform: scale(1.5);
	}
	
	25% {
		transform: scale(1.5) rotate(25deg);
		
	}
	
	75% {
		transform: scale(1.5) rotate(-25deg);
		
	}
 
	100% {
		transform: scale(1.5);
	}
}


  
  /* Responsive */
 
 @media (max-width: 480px) {
	body {
		background-image: none;
	}
	main {
		margin: 0;
	}
	 
	 header {
		margin: 0
	
	}
	
	nav {
		width: 100%;
	}
	
	nav > ul {
	  font-size: 20px;
  }
	
	.album-info {
	padding-top: 20px;
	}	
	
	.album-info img {
	  width: 200px;
	  height: 205px;
  }
  
  .album-info > p {
	 display: block;
	  margin: auto;
	 width: 50%;
	padding-top: 20px;
	font-size: 25px;
		
  }
   
  
    .logo1 {
height: 90px;
width: 90px;
	}

#media, #events, #contact {
font-size: 30px;
padding-top: 60px;
}

.video-div {
	background-size: 325px 290px;
	height: 290px;
	width: 325px;
}

.video1 {
	width: 170px;
	height: 148px;
	left: 56px;
	top: 46px;
	
}

th, td{
	padding: 5px 15px;
}

   }
   


@media (max-width: 768px)and (min-width: 481px) {
	body {
		background-image: none;
	}
	
	header: {
		margin: 0;
	
	}
	
	nav {
		width: 100%;
	}
	
	 nav > ul {
	  font-size: 20px;
  }

	main {
		margin: 0;
	}
	
.album-info {
	padding-top: 20px;
}
	
.album-info img {
	  width: 200px;
	  height: 205px;
  }
  
  .album-info > p {
	  display: block;
	  margin: auto;
	 width: 50%;
	padding-top: 20px;
	font-size: 25px;	
  }
  
    .logo1 {
height: 90px;
width: 90px;	
}

#media, #events, #contact {
font-size: 30px;
padding-top: 90px;
}

.video-div {
	background-size: 425px 375px;
	height: 375px;
	width: 425px;
}

.video1 {
	width: 210px;
	height: 186px;
	left: 76px;
	top: 66px;
	
}




}


@media (max-width: 1200px) and (min-width: 769px) {
	
	header {
		display: block;
		margin: 0 22vw 0;
		position: fixed;
		z-index: 1;
	}
	
	
	.album-info img {
	  width: 400px;
	  height: 405px;
  }
  
  nav > ul {
	  font-size: 25px;
  }
  
  .logo1 {
height: 110px;
width: 110px;	
}
.album-info {
	font-size: 25px;
	padding-top: 150px;
}

#media, #events, #contact {
font-size: 40px;
padding-top: 100px;
}

.video-div {
	background-size: 425px 375px;
	height: 375px;
	width: 425px;
}

.video1 {
	width: 210px;
	height: 190px;
	left: 76px;
	top: 66px;
	
}


table {
	position: relative;
	display: block;
	margin: auto;
	text-align: center;
	font-size: 20px;	
}

 th, td{
	padding: 10px 20px;
}
 
}   

@media (max-width: 4000px) and (min-width: 1201px) {
	header {
		display: block;
		margin: 0 22vw 0;
		position: fixed;
		z-index: 1;
	}
.album-info {
	padding-top: 150px;
}

table {
	
	font-size: 24px;	
}
}
